body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
#gantt {
  margin-top: 20px;
  height: 500px;
}
button, label {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}
.top-buttons {
  display: flex;
  flex-direction: column; /* 縦に並べる */
  align-items: flex-start;
  margin-bottom: 20px;
}

.top-buttons label, 
.top-buttons button {
  margin-bottom: 10px; /* 各要素間の間隔を設定 */
}
.title-container {
  margin-bottom: 20px;
}
